@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-logo: #ff0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(44, 44, 44);
  width: 100vw;
  height: 100vh;
  background-color: rgb(24 24 27);
  color: grey;
  @apply flex flex-col items-center;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  @apply w-full max-w-screen-2xl;
}
